.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: transparent;
    display: flex;

    backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6);
    .navbar-logo {
        width: 50px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            scale: 1.2;
            rotate: -10deg;
        }
    }
}
