.MySubHeading {
    cursor: pointer;

    .link-icon {
        opacity: 0;
    }
    &:hover {
        .link-icon {
            opacity: 0.6;
        }
    }
}
.my-icon {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
}
