#root {
    a {
        color: #007500;
        text-decoration: none;
        font-family: 'Caveat', cursive;
        font-family: 'Indie Flower', cursive;
        font-family: 'Single Day', cursive;
        font-family: 'Ubuntu', sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }
}
