#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    a {
        color: #007500;
        text-decoration: none;
        font-family: 'Caveat', cursive;
        font-family: 'Indie Flower', cursive;
        font-family: 'Single Day', cursive;
        font-family: 'Ubuntu', sans-serif;
    }
}
